@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    p {
        @apply leading-10
    }
    .function nav .myCourse.active {
        @apply border-[1px] border-primary-100 bg-primary-600 text-primary-200 rounded-md
    }
    .function nav .notifications.active, .function nav .cart.active {
        @apply text-second-200
    }
    .menuBox a.active {
        @apply text-primary-200
    }
    .subMenu nav > a.active {
        @apply border-b border-primary-300
    }
    .on {
        @apply bg-primary-100 3xl:focus:shadow-md 3xl:focus:shadow-graay-200 focus:bg-primary-100
    }
    .tab span.product.active {
        @apply  bg-primary-300 text-graay-600
    }
    .permanent.active {
        @apply  bg-second-300 text-graay-600
    }
    .items {
        @apply  border-[1px] border-graay-500
    }
    .material-symbols-outlined.text-full {
        @apply text-[68px]
    }
    .material-symbols-outlined.text-48 {
        @apply text-[48px]
    }
    .material-symbols-outlined.text-36 {
        @apply text-[36px]
    }
    .material-symbols-outlined.text-24 {
        @apply text-2xl
    }
    input[type='button'].deliver.pick, input[type='button'].area.pick {
        @apply bg-second-600 
    }
    input[type='checkbox'] {
        @apply w-5 h-5 mr-1 3xl:mr-7 rounded-md
    }
    input[type='text'].error,input[type='tel'].error  {
        @apply border-fail
    }
    /* .loginBox div:nth-child(2), .loginBox input{
        background-color: #F2F2F2;
    } */
    .loginBox p {
        color: #979797;
    }
    .sideMenu {
        height: -webkit-fill-available;
        background: url(../image/memberSideBar_768-1.png) no-repeat;

    }
    @media screen and (min-width: 1281px){
        .sideMenu {
            background: url(../image/memberSideBar_1024.png) no-repeat;
            background-size: 100%;
            background-position: 0 0;
        }
    }

    .deduct {
        background: #FECDD8;
    }
    .obtain, .available {
        background: #CDEEEE;
    }

    .unavailable {
        @apply bg-graay-500;
    }

    .points.active, .coupon.active {
        @apply text-graay-600 bg-second-300
    }

    table td {
        @apply bg-bgc
    }

    th, td {
        @apply py-2 px-5 border-[1px] border-graay-500
    }

    @media screen and (min-width: 1280px){
        th, td {
            @apply py-4 px-7 border-[1px] border-graay-500
        }
    }

    td.data {
        @apply bg-bgc text-second-100;
        min-width: 180px;
    }

    td.field {
        @apply bg-graay-600
    }
    /* @media screen and (max-width: 640px){ */
        td.field {
            min-width: 120px;
        }
    /* } */
    form input[type='button'].pick {
        @apply bg-second-500 border-none 
        /* background-color: #000 !important; */
    }
    .memberMenu li.active, .memberMenu div>a.active {
        @apply text-second-200
    }
    .memberMenu div>a.active {
        @apply 2xl:border-b-[1px] 2xl:border-second-200
    }
    .courseCategory button.active {
        @apply bg-second-400
    }
    .product.pagenation .page.active {
        @apply bg-primary-600
    }
    .member.pagenation .page.active {
        @apply bg-second-600
    }
    .videoInfo .tabsBox>button.active {
        @apply bg-second-400
    }
    .infoBox>button.pick {
        @apply bg-second-300 text-graay-600
    }
}